* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(70, 70, 70);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    width: 100vw;
    height: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 99, 99, 0.849);
    border: 1px solid white;
    border-radius: 25px;
    padding: 80px;
}

.city {
    font-size: 2rem;
}

#weather-icon {
    width: 150px;
    height: 150px;
}
.input-container {
    position: relative;
}
.city-name-input {
    border-radius: 20px;
    padding: 10px;
}

.search {
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    right: -10px;
}

#icon {
    text-align: center;
}
